<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule2" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{CACHE_URL}" pattern="^(https?)://" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}://http://localhost:3000/{R:0}/{R:1}" />
                </rule>
                <rule name="NodeAppProxy" patternSyntax="Wildcard">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="srv14dmt.desenvolvemt.local" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:5000/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
